.discover {
    background-color: blue;
    height: 48px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
    overflow-x: scroll;
    margin-bottom: 20px;
}

.discover div {
    cursor: pointer;
    width: 100px;
    padding: 3px 8px;
    border: 2px solid rgb(6, 6, 192);
    border-radius: 5px;
    text-align: center;
    color: white;
}

.homepage_rounded {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: scroll;
}

// SWIPER

.homepage_rounded .swiper {
    width: 100%;
    height: 250px;
    
    & img {
        width: 20vw;
        aspect-ratio: 1.77;
        border-radius: 15px;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
    @media screen and (max-width : 700px) {
        height: 150px;

        & img {
            width: 49vw;
        }
    }
}