.homepage_grid {
    display: grid;
    place-items: center;
    grid-template-columns: 1.7fr .8fr .8fr;
    grid-template-rows: .5fr .5fr;
    gap: 10px;
    padding: 10px 20px 40px 20px;
    width: 100%;
    aspect-ratio: 3.463;
}

.homepage_img img {
    width: 100%;
}

.homepage_grid>div:nth-child(1) {
    grid-row: 1/3;
}

.homepage_grid>div {
    width: 100%;
    aspect-ratio: 1.77;
}

.discover {
    background-color: blue;
    height: 48px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
    overflow-x: scroll;
    margin-bottom: 20px;
}

.discover div {
    cursor: pointer;
    width: 100px;
    padding: 3px 8px;
    border: 2px solid rgb(6, 6, 192);
    border-radius: 5px;
    text-align: center;
    color: white;
}

.homepage_rounded {
    display: none;
}



@media screen and (max-width : 700px) {

    .homepage_rounded {
        width: 100%;
        display: flex;
        gap: 10px;
        padding: 10px;
        overflow-x: scroll;
    }

    .homepage_rounded>div {
        width: 150px;
        aspect-ratio: 1.77;
    }

    .homepage_rounded img {
        width: 150px;
        aspect-ratio: 1.77;
        border-radius: 15px;
    }

    .homepage_grid {
        display: none;
    }

    .other {
        display: flex;
        flex-direction: column;
    }

    .other_heading {
        margin-top: 5px;
        width: 100vw;
        height: 37px;
        background-color: rgb(192, 192, 192);
        margin: 4px 0;
    }

    .other_swiper {
        width: 100vw;
        aspect-ratio: 2.6;
        background-color: rgb(192, 192, 192);
        margin-bottom: 15px;
    }

    .other_discover {
        width: 100vw;
        height: 48px;
        background-color: rgb(192, 192, 192);
        margin-bottom: 20px;
    }

    .other_rounded {
        width: 100%;
        display: flex;
        gap: 10px;
        padding: 10px;
        overflow-x: scroll;
    }

    .other_rounded>div {
        width: 150px;
        aspect-ratio: 1.77;
        border-radius: 15px;
        background-color: rgb(192, 192, 192);
    }

    .other_card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 21px;
        margin-top: 20px;
    }

    .other_card div {
        width: 90vw;
        height: 150px;
        grid-template-columns: .3fr .7fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        padding-bottom: 20px;
        background-color: rgb(192, 192, 192);
    }
}


@media screen and (min-width : 700px) {

    .other_heading {
        margin-top: 5px;
        width: 100vw;
        height: 41px;
        background-color: rgb(185, 184, 184);
    }

    .other_homepage_grid {
        display: grid;
        place-items: center;
        grid-template-columns: 1.7fr .8fr .8fr;
        grid-template-rows: .5fr .5fr;
        gap: 10px;
        padding: 10px 20px 40px 20px;
    }

    .other_homepage_grid>div {
        background-color: rgb(185, 184, 184);
        width: 100%;
        aspect-ratio: 1.8;
    }

    .other_homepage_grid>div:nth-child(1) {
        grid-row: 1/3;
    }

    .other_swiper {
        width: 70vw;
        aspect-ratio: 2.6;
        background-color: rgb(185, 184, 184);
        ;
        margin: auto auto;
        margin-bottom: 20px;
    }

    .other_discover {
        width: 100vw;
        height: 48px;
        background-color: rgb(185, 184, 184);
        margin-bottom: 20px;
    }

    .other_card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .other_card div {
        width: 400px;
        height: 98px;
        grid-template-columns: .3fr .7fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        padding-bottom: 20px;
        background-color: rgb(185, 184, 184);
        ;
    }
}